* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #79DAE8;
    
}

.uppertext {
    font-size: 10vw;
    margin-top: -10%;
    text-align: center;
    color: white;
	text-shadow: -2px 2px 3px #0AA1DD,
				  2px 2px 3px #0AA1DD,
				  2px -2px 0 #0AA1DD,
				  -2px -2px 0 #0AA1DD;
    
}

.button {
    display: inline-block;
    background-image: linear-gradient( to bottom right, rgb(78, 29, 255),rgb(17, 3, 97));
    border-radius: 50%;
    color: #E8F9FD;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
}

.center {
    display: flex; /* or display:grid */
    justify-content: center;
}